@using Microsoft.AspNetCore.Http

<ul class="navbar-nav">
    @if (Context.Session.GetInt32("UserId") != null)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hello, @Context.Session.GetString("Username")</span>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
